:root {
  font-size: 1.1rem;
  --color-primary: #27296d;
  --color-secondary: rgb(248, 150, 165);
  --color-font: #9a8bdd;
  --color-shadow: #5e63b6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: var(--color-primary);
}

h1,
p,
i {
  color: var(--color-font);
}

h1 {
  font-size: 52px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

i {
  font-size: 2rem;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding-inline: 2rem;
  text-align: center;
}

.button-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 20rem;
  padding: 12px 20px;
  box-shadow: var(--color-shadow) 0px 0px 6px 1px;
  border-radius: 8px;
}

.button-panel p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  transition: all 150ms ease-in;
  opacity: 0.8;
}

.active {
  color: var(--color-secondary);
  opacity: 1;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin: 2rem;
  border-radius: 50%;
  box-shadow: var(--color-shadow) 0px 0px 12px 1px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  background: var(--color-secondary);
  position: relative;
}

.circle::before {
  content: "";
  position: aboslute;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  background: var(--color-primary);
}

.time {
  position: relative;
  top: -250px;
  z-index: 3;
  margin: 0;
}

.time p {
  font-size: 3rem;
}

.controls {
  margin-top: -2.5rem;
}

.controls button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.controls #reset {
  display: none;
}
